body{
    background-image:url(resources/background.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form{
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:10px,10px;
}

.formHeader{
    height: 40px;
    margin: 10px 10px;
    display: flex;
    text-align: center;
    background-color: rgb(235, 190, 237);
}


text{
    align-items: center;
    background-color: rgb(235, 190, 237);
    margin-left: 440px;
    color:black;
    font-size: 30px;
    font-weight: bold; 
}

.form-group {
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center; 
    gap: 10px;
}

input,select{
    width:500px;
    height: 30px;
    border-color:rgb(235, 190, 237);
    border-radius: 15px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.buttons{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.delBut{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 450px;
}
button{
    width: 200px;
    height:45px;
    border-radius: 1px;
    background-color: rgb(235, 190, 237);
    font-weight: bold;
}

button:hover{
    background-color: rgb(224, 142, 218);
    transform: scale(1.05);
}

button:active{
    transform: scale(0.95);
}

result1, result2{
    margin-left: 50px;
    color:red;
    font-size: 16px;
    font-weight: bold;
}



.results-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.results-table th,
.results-table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.results-table th {
    background-color: #eed5e7;
    color: white;
    text-transform: uppercase;
}

.results-table tr:hover {
    background-color: #f5f5f5;
}

.controls {
    margin: 20px 0;
    text-align: right;
}

button {
    padding: 10px 20px;
    background: #f0c5e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #e4a9da;
}

.tablet{
    width: 100%;
    margin-top: 2dvh;
    background-color: white;
    
}
